@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SK Modernist';
  src: url('./assets/Sk-Modernist-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #040c1e;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
